<%- include("partials/header") -%>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Shortened Text</h1>
        <p class="lead"><%= shortText %></p>
    </div>

    <a class="btn btn-dark btn-lg" href="/main" role="button">Return</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</main>

<%- include("partials/footer") -%>